@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

section {
  padding-bottom: 80px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 18px 375px 18px 375px;
  outline: 2px dotted red;
}
.header-title {
  margin-right: 222px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.44px;
  color: #128c76;
}

.header-menu {
  display: flex;
  gap: 16px;
  margin-right: 24px;
}
.header-menu-item {
  &:hover {
    transform: scale(1.03);
  }
}
.header-menu-link {
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}

.header-buttonset {
  display: flex;
  gap: 16px;
}
.login-button {
  padding: 16px 40px 14px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #128c76;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    opacity: 50%;
  }
  &:focus {
    opacity: 50%;
  }
}
.register-button {
  padding: 16px 40px 14px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #f56b8d;
  background-color: #fff;
  border: 2px solid #f56b8d;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    color: #fff;
    background-color: #f56b8d;
    opacity: 50%;
  }
  &:focus {
    color: #fff;
    background-color: #f56b8d;
    opacity: 50%;
  }
}

.hero-container {
  height: 780px;
  padding-top: 202px;
  padding-left: 375px;
  background-image: url(./images/svg/circle.svg), url(./images/svg/rays.svg),
    url(./images/jpg/hero.jpg);
  background-repeat: no-repeat;
  background-position: 227px 61px, right bottom, center;
}

.hero-title {
  width: 780px;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
}

.hero-text {
  width: 470px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
}

.hero-button {
  padding: 24px 40px 22px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #128c76;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    opacity: 60%;
  }
  &:focus {
    opacity: 60%;
  }
}

.offerings-section {
  padding-top: 80px;
  text-align: center;
  background-image: url(./images/jpg/offerings-art.jpg);
  background-repeat: no-repeat;
  background-position: 40px 480px;
}
.section-title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  color: #333;
}

.offerings-text {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 1.33;
  color: #999;
}

.offerings-list {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 30px;
}

.offerings-item {
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 0px 24px 60px 0px rgba(51, 51, 51, 0.16);
}

.offerings-content-wrapper {
  padding: 24px;
  text-align: start;
}
.offerings-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.33;
  color: #333;
}
.offerings-location {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: #999;
}
.offerings-item-text {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.progress-bar {
  margin-bottom: 8px;
  width: 322px;
  height: 8px;
  background-image: linear-gradient(to right, #128c76 57%, #ececec 57%);
}
.raised-sum {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #128c76;
}
.total-sum {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}
.line {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 322px;
  border-bottom: 1px solid #ececec;
}

.offerings-feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.offerings-feature:last-child {
  margin-bottom: 24px;
}

.feature-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

.feature-value {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}

.offerings-button {
  padding: 0;
  width: 370px;
  height: 72px;
  color: #fff;
  background-color: #f56b8d;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    opacity: 50%;
  }
  &:focus {
    opacity: 50%;
  }
}

.view-all-offerings {
  width: 270px;
  height: 70px;
  color: #f56b8d;
  background-color: #fff;
  border: 1px solid #f56b8d;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    color: #fff;
    background-color: #f56b8d;
  }
  &:focus {
    color: #fff;
    background-color: #f56b8d;
  }
}

.infographics-section {
  padding-bottom: 0;
  background-color: #ecf4fd;
  background-image: url(./images/svg/vector.svg),
    url(./images/svg/semi-circles.svg), url(./images/svg/dots.svg);
  background-repeat: no-repeat;
  background-position: bottom left, 1700px 0px, 1750px 350px;
}
.infographics-container {
  display: flex;
  padding: 160px 375px 160px 375px;
}

.infographics-content {
  width: 585px;
}

.subtract-icon {
  margin-bottom: 40px;
}

.infographics-title {
  margin-bottom: 24px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  color: #333;
}

.infographics-text {
  font-size: 24px;
  line-height: 1.33;
  color: #999;
}

.infographics {
  position: relative;
  padding-left: 50px;
  width: 585px;
}

.sum-wrapper {
  display: flex;
  gap: 30px;
}

.sum-scale {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

table {
  border-collapse: collapse;
}

td {
  width: 117px;
  height: 71px;
  table-layout: fixed;
  border: 1px solid #ececec;
}

.graph-image {
  position: absolute;
  left: 110px;
  top: 50px;
}

.diamond-icon {
  position: absolute;
  left: 286px;
  top: 75px;
}
.handle-icon {
  position: absolute;
  left: 287px;
  top: 90px;
}

.caption {
  position: absolute;
  left: 250px;
  top: 40px;
  width: 83px;
  height: 40px;
  padding-top: 4px;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.301px;
  text-transform: capitalize;
  border-radius: 4px;
  color: #fff;
  background-color: #f56b8d;
}

.time-scale {
  margin-left: 80px;
  display: flex;
  gap: 50px;
}
