@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

section {
  padding-bottom: 80px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 18px 375px 18px 375px;
  outline: 2px dotted red;
}
.header-title {
  margin-right: 222px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.44px;
  color: #128c76;
}
.header-navigation {
}
.header-menu {
  display: flex;
  gap: 16px;
  margin-right: 24px;
}
.header-menu-item {
  &:hover {
    transform: scale(1.03);
  }
}
.header-menu-link {
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
}

.header-buttonset {
  display: flex;
  gap: 16px;
}
.login-button {
  padding: 16px 40px 14px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #128c76;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    opacity: 50%;
  }
  &:focus {
    opacity: 50%;
  }
}
.register-button {
  padding: 16px 40px 14px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #f56b8d;
  background-color: #fff;
  border: 2px solid #f56b8d;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    color: #fff;
    background-color: #f56b8d;
    opacity: 50%;
  }
  &:focus {
    color: #fff;
    background-color: #f56b8d;
    opacity: 50%;
  }
}

.hero-container {
  height: 780px;
  padding-top: 202px;
  padding-left: 375px;
  background-image: url(./images/svg/circle.svg), url(./images/svg/rays.svg),
    url(./images/jpg/hero.jpg);
  background-repeat: no-repeat;
  background-position: 227px 61px, right bottom, center;
}

.hero-title {
  width: 780px;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.33;
  color: #fff;
}

.hero-text {
  width: 470px;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.33;
  color: #fff;
}

.hero-button {
  padding: 24px 40px 22px 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  background-color: #128c76;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover {
    opacity: 80%;
  }
  &:focus {
    opacity: 80%;
  }
}

.test {
  color: var(--Grey-1, #333);
  text-align: center;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}
